## åŸºç¡€è®¾ç½®
---
é¦–å…ˆæˆ‘ä»¬åº”è¯¥å®‰è£… duckdb çš„ python ç¯å¢ƒ, è¯·è‡ªè¡Œä¸Šç½‘æœç´¢

In [56]:
import duckdb

éšåæ ¹æ®æˆ‘ä»¬çš„ ER å›¾æ„å»ºæˆ‘ä»¬çš„è¡¨, æ„å»ºè¡¨çš„ sql æ–‡ä»¶åœ¨æœ¬åœ°ç›®å½•ä¸‹

In [57]:
con = duckdb.connect(':memory:') # connect to memory 

sql_file_path = './table_construct.sql'
with open(sql_file_path, 'r') as sql_file:
    sql_script = sql_file.read()
    con.execute(sql_script)

## Table Overview
---
![er-model](./er-model.png)

ç®€å•æµ‹è¯•ä¸€ä¸‹, é¦–å…ˆæˆ‘ä»¬å…ˆæ‰“å°å‡ºæ•°æ®åº“ä¸­æ‰€æœ‰è¡¨

In [58]:
# Query the table infomation of current database
result = con.sql("SELECT table_name FROM information_schema.tables WHERE table_schema = 'main'").fetchall()

# Show output
for table in result:
    print(table[0])

appointment
contains
employee
include
order
owner
pet
product
product_info
service
service_type

ç»“æœç¬¦åˆæˆ‘ä»¬çš„é¢„æœŸ

æ¥ä¸‹æ¥æˆ‘ä»¬ä»»é€‰ä¸€ä¸ªè¡¨æ£€æŸ¥ä¸€ä¸‹ schema

In [59]:
con.sql("DESCRIBE service")

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ column_name â”‚ column_type â”‚  null   â”‚   key   â”‚ default â”‚  extra  â”‚
â”‚   varchar   â”‚   varchar   â”‚ varchar â”‚ varchar â”‚ varchar â”‚ varchar â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ id          â”‚ INTEGER     â”‚ NO      â”‚ PRI     â”‚ NULL    â”‚ NULL    â”‚
â”‚ employee_id â”‚ INTEGER     â”‚ YES     â”‚ NULL    â”‚ NULL    â”‚ NULL    â”‚
â”‚ type        â”‚ VARCHAR     â”‚ YES     â”‚ NULL    â”‚ NULL    â”‚ NULL    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Perfect! ç”±äºæ²¡æœ‰å¡«å…¥æ•°æ®, å› æ­¤è¡¨ä¸º 0 è¡Œ, ä½†æˆ‘ä»¬å¯ä»¥çœ‹åˆ°è¡¨çš„ç»“æ„ä¹Ÿæ˜¯ç¬¦åˆæˆ‘ä»¬çš„ E-R å›¾çš„.

## å¡«å…¥æ•°æ®, ä½¿ç”¨æ•°æ®åº“

In [60]:
sql_file_path = './pad_data.sql'
with open(sql_file_path, 'r') as sql_file:
    sql_script = sql_file.read()
    con.execute(sql_script)

## Demo
---
### ç¤ºä¾‹ 1: æ ¼é›·ğŸ¦Šæ–¯è¡¨é¢æ˜¯ä¸ªé»‘å¸®æ•™çˆ¶, å®é™…æ˜¯ä¸ªå® ç‰©æ§, è®©æˆ‘ä»¬æ¥çœ‹çœ‹æ ¼é›·ğŸ¦Šæ–¯åœ¨å® ç‰©åº—çš„è®¢å•è®°å½•

ç¥å¥‡çš„ Sql ä»£ç å¦‚ä¸‹
``` sql
SELECT "order".id, "order".time, "order".amount, "order".status
FROM "order"
JOIN owner ON "order".owner_id = owner.id
WHERE owner.name = 'å¼ ä¸‰';
```

In [61]:
con.sql('''
    SELECT "order".id, "order".time, "order".amount, "order".status
    FROM "order"
    JOIN owner ON "order".owner_id = owner.id
    WHERE owner.name = 'æ ¼é›·ğŸ¦Šæ–¯'
''')

â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚  id   â”‚        time         â”‚ amount â”‚ status  â”‚
â”‚ int32 â”‚      timestamp      â”‚ float  â”‚ varchar â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1 â”‚ 2023-01-20 14:00:00 â”‚   50.0 â”‚ å·²å®Œæˆ  â”‚
â”‚     4 â”‚ 2023-04-10 11:10:00 â”‚   80.0 â”‚ å·²å®Œæˆ  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

éœ‡æƒŠğŸ˜± æ ¼é›·ğŸ¦Šæ–¯å±…ç„¶åœ¨å® ç‰©åº—é‡Œæ¶ˆè´¹è¿‡è¿™ä¹ˆå¤šæ¬¡
> â€œé»‘å¸®é¦–é¢†ä¹Ÿæœ‰å¿ƒè‚ ã€‚â€ - é˜¿å°”Â·å¡å½­ (Al Capone)

### ç¤ºä¾‹2: ç‚¸å¼¹ç‹‚äººğŸ’£å‰æ ¼æ–¯å±…ç„¶åœ¨å® ç‰©åº—æ¥ç§æ´», å¿«æ¥ä¸€æ¢ç©¶ç«Ÿ

ä¸‡èƒ½çš„ sql ä»£ç å¦‚ä¸‹
```sql
SELECT service_type.type, appointment.appoint_time
FROM service
JOIN employee ON service.employee_id = employee.id
JOIN service_type ON service.type = service_type.type
JOIN appointment ON service.id = appointment.id
WHERE employee.name = 'å‰æ ¼æ–¯';
```

In [62]:
con.sql('''
    SELECT service_type.type, employee.position
    FROM service
    JOIN employee ON service.employee_id = employee.id
    JOIN service_type ON service.type = service_type.type
    WHERE employee.name = 'å‰æ ¼æ–¯';
''')

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚  type   â”‚  position  â”‚
â”‚ varchar â”‚  varchar   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ æ´—æ¾¡    â”‚ å® ç‰©æŠ¤ç†å¸ˆ â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

æƒ³ä¸åˆ°å•Šæƒ³ä¸åˆ°, ç‚¸å¼¹äººä½ å±…ç„¶å»å½“äº†å® ç‰©æŠ¤ç†å¸ˆ.

æ¥ä¸‹æ¥æ˜¯æœ€åä¸€ä¸ªä¾‹å­



### ç¤ºä¾‹ä¸‰ ä¼Šæ³½ç‘å°”æ˜¯å® ç‰©åº—çš„å¸¸å®¢, ä½†æ˜¯ç»å¸¸å¿˜è®°è‡ªå·±ä¹°è¿‡ä»€ä¹ˆä¸œè¥¿, è¯·ä½ æ¥å¸®å¸®ä»–

Powerful çš„ sql ä»£ç å¦‚ä¸‹:
```sql
SELECT product_info.name, "order".amount, product.stock_quantity
FROM "order"
JOIN owner ON "order".owner_id = owner.id
JOIN contains ON "order".id = contains.order_id
JOIN product ON contains.product_id = product.id
JOIN product_info ON product.name = product_info.name
WHERE owner.name = 'ä¼Šæ³½ç‘å°”';

```

In [63]:
con.sql('''
    SELECT product_info.name, "order".amount, product.stock_quantity
    FROM "order"
    JOIN owner ON "order".owner_id = owner.id
    JOIN contains ON "order".id = contains.order_id
    JOIN product ON contains.product_id = product.id
    JOIN product_info ON product.name = product_info.name
    WHERE owner.name = 'EZç‘å°”';
''')

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚   name   â”‚ amount â”‚ stock_quantity â”‚
â”‚ varchar  â”‚ float  â”‚     int32      â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ å® ç‰©ç©å…· â”‚  100.0 â”‚             50 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

å“¦å¼, EZ ç‘å°”ä¹°è¿‡å® ç‰©ç©å…·, ä¸€å…±èŠ±äº† 100 å¤§ç±³ (1/4.5)ä¸ªå¤šå…°å‰‘, çœŸå¥¢ä¾ˆ!



## ç»“æŸ
æœ€å, ä¸è¦å¿˜è®°å…³é—­æˆ‘ä»¬çš„æ•°æ®åº“ ğŸ¥°, å±•ç¤ºå®Œæ¯•! see you again

In [64]:
con.close()